@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 265.47 80.3% 72.12%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 59 100% 44%;
    --primary-foreground: 73 0 0;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border custom-scrollbar;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .topbar {
    @apply flex justify-between items-center bg-transparent py-4 max-w-7xl;
  }

  .bottombar {
    @apply;
  }

  .base-container {
    @apply px-2 md:px-8  max-w-7xl mx-auto overflow-x-clip;
  }

  .password-vis {
    @apply text-primary;
  }

  .mobile-menu {
    @apply md:hidden mr-4;
  }

  .title-cont {
    @apply w-full min-h-screen md:min-h-[90vh] -skew-y-3;
  }

  .center {
    @apply flex md:justify-center justify-start items-center flex-col pt-14 md:pt-2;
  }

  .tag1 {
    @apply bg-primary z-10;
  }

  .tag2 {
    @apply bg-black z-20 text-primary;
  }

  .tag3 {
    @apply bg-primary z-30;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  font-size: 2rem;
  line-height: 2;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  /* text-align: center; */
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.5), 0 10px 4px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .title {
    font-size: 5.5rem;
    letter-spacing: -3px;
    width: 3500px; /* FIXME:IF ANY ERRROR HAPPENS CHANGE TO 100% */
    line-height: 1.25;
  }
}

.auth-form {
  background-color: hsl(265.47, 80.3%, 72.12%);
  opacity: 1;
  background-image: radial-gradient(
      #d2d722 0.6000000000000001px,
      transparent 0.6000000000000001px
    ),
    radial-gradient(
      #d2d722 0.6000000000000001px,
      hsl(265.47, 80.3%, 72.12%) 0.6000000000000001px
    );
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.miniloader {
  animation: rotate360 3s linear infinite; /* Adjust the duration (4s) for medium speed */
}

.nothing-you-could-do-regular {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: normal;
}

.oswald-title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Webkit extension to remove. the arrow keys in number input box.  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
